html {
	font-family: "Microsoft YaHei";
}

.text-center {
	text-align: center;
}
.text-l {
	text-align: left;
}
.text-r {
	text-align: right;
}
.color-fff {
	color: #f4f2f2;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.act {
	min-width: 980px;
	max-width: 1920px;
	margin: 0 auto;
}
.pointer {
	cursor:pointer;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.act>div>div {
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}
/*bg-1*/
.bg-1 {
	height: 1340px;
    background: url(../img/bg1.jpg) bottom center no-repeat;
    overflow: hidden;
}
.bg-1>.title {
	padding:305px 0 0 0px;
	height: 46px;
	position: relative;
}
.bg-1>.title>img {
	margin: 0 0 0 340px;
}
/*actLogin*/
.bg-1>.actLogin>span {
	display: block;
	color: #fee559;
	font-size: 12px;
	margin-left: 535px;
}
.bg-1>.actLogin .actLogina {
	color: #ededed;
}
.bg-1>.actLogin .actLogina:after {
	content: "】";
}
.bg-1>.actLogin .actLogina:before {
	content: "【";
}
/*tip*/
.bg-1>.tip {
	margin-top: 70px;
}
.bg-1>.tip>div {
	float: right;
	width: 304px;
	height: 205px;
	background: url(../img/02.png);
	font-size: 20px;
}
.bg-1>.tip>div>.dotime {
	margin: 42px auto 0 1px;
	width: 100px;
	color: #0c1013;
}
.bg-1>.tip>div>.tiptext {
	color: #fdfcfd;
	width: 140px;
	margin: 38px auto 0 125px;
	font-size: 18px;
}
/*caption*/
.bg-1>.caption {
	margin-top: 220px;
	height: 250px;
}
.bg-1>.caption>div {
	float: left;
	width: 50%;
	overflow: hidden;
}
.bg-1>.caption>.d1>div{
	margin-left: 195px;
	padding-bottom: 5px;
	padding-top: 20px;
}
/*.bg-1>.caption>.d1 img {
	display: block;
	width: 196px;
	height: 196px;
	margin: 0 auto;
}*/
/*翻转动画开始*/
.caption>.d1 .img {
	display: block;
	width: 196px;
	height: 196px;
}

.container {
	position: relative;
	width: 196px;
	height: 196px;
	transform-style: preserve-3d;
	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.front {
	position: absolute;
	width: 196px;
	height: 196px;
	background-image: url(../img/01.png);
	background-size: cover;
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.back {
	position: absolute;
	width: 196px;
	height: 196px;
	background-image: url(../img/01.png);
	background-size: cover;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.caption>.d1 .img .active {
	transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
/*翻转动画结束*/
.bg-1>.caption>.d1 .btn {
	width: 100px;
	height: 24px;
	background: #ffdd00;
	border-radius: 8px;
	text-align: center;
	margin-top: 6px;
	color: #540404;
	font-size: 12px;
	line-height: 25px;
	box-shadow: 0 2px 0 #c9af06;
}
.bg-1>.caption>.d1 .btn:hover {
	background: #c9af06;
}
/*d2*/
.bg-1>.caption>.d2 {
	color: #3a0502;
	font-size: 18px;
	font-weight: 600;
}
.bg-1>.caption>.d2>div {
	padding: 0 0 0 80px;
}
.bg-1>.captionTit {
	font-size: 22px;
}
.bg-1 .captionText>li{
	position: relative;
	margin-left: 30px;
}
.bg-1 .captionText>li:before {
	position: absolute;
	top: 3px;
	left: -30px;
	color: #fff;
	display: block;
	text-align: center;
	line-height: 20px;
	background: #000000;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	font-weight: 100;
	/*font-size: 12px;*/
}
.li-1:before {
	content: "1";
}
.li-2:before {
	content: "2";
}
.li-3:before {
	content: "3";
}
.li-4:before {
	content: "4";
}
.li-5:before {
	content: "5";
}
/*bg-2*/
.bg-2 {
	height: 1031px;
    background: url(../img/bg2.jpg) bottom center no-repeat;
    overflow: hidden;
}
.bg-2>div {
	padding-top: 15px;
}
.bg-2>div>div,.bg-2>div>div>div{
	float: left;
}
.bg-2 .captionList {
	position: relative;
	width: 652px;
	height: 898px;
	background: url(../img/bg_01.png);
	padding: 4px;
	/*padding: 35px 60px 15px 25px;*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	color: #f0f0f0;
	margin-left: 90px;
}
/*captionList*/
.captionList-1 {
	width: 100%;
	/*height: 88px;*/
	overflow: hidden;
}
.listTit {
	overflow: hidden;
	height: 100%;
	padding: 0 37px;
	border-bottom: 1px solid #490603;
}
.listTit>li {
	float: left;
	font-size: 28px;
	font-weight: 700;
	height: 100%;
	line-height: 88px;
	text-align: center;
	padding: 0 27px;
}
.listConten>li{
	/*width: 100%;*/
	height: 36px;
	border-bottom: 1px solid #490603;
	padding: 0 37px;
}
.listConten>li>span {
	display: block;
	float: left;
	height: 100%;
	line-height: 36px;
	font-size: 14px;
}
.listConten .listrank {
	font-size: 20px;
	position: relative;
	font-weight: 100;
	width: 90px;
	padding-left: 23px;
}
.listConten .win:before {
	content: "";
	position: absolute;
	top: 7px;
	left: 28px;
	display: block;
	width: 18px;
	height: 20px;
}
.listConten .win1:before {
	background: url(../img/rank-1.png);
}
.listConten .win2:before {
	background: url(../img/rank-2.png);
}
.listConten .win3:before {
	background: url(../img/rank-3.png);
}
.listConten .listuse{
	width: 113px;
}
.listConten .rewardNum, .listConten .rankReward{
	width: 170px;
}
/*page*/
.captionList-1>.page {
	width: 110px;
	overflow: hidden;
	float: right;
	font-size: 12px;
	margin: 20px 50px 0 0;
}
/*captionList-2*/
.captionList .captionList-2 {
	position: absolute;
	left: 660px;
	top: -4px;
	width: 150px;
	height: 240px;
	font-size: 12px;
	background: rgba(84,10,7,0.41);
	border-radius: 30px;
	padding: 15px 10px 0 17px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.captionList-2>p {
	font-weight: 700;
}
.captionList-2>ul>li {
	overflow: hidden;
	display: block;
	margin-top: 1px;
}
.captionList-2>ul>li>span {
	display: block;
}
.captionList-2 .fl {
	width: 80px;
	text-align: left;
}
.captionList-2 .fr {
	width: 27px;
	text-align: left;
}
/*captionRule*/
.captionRule {
	width: 100%;
	font-size: 14px;
	color: #f0f0f0;
	padding: 10px 0 0 90px;
}
.captionRule>p{
	font-weight: 700;
}
/*footer*/
.footer {
	height: 35px;
	text-align: center;
	line-height: 35px;
	background: #390720;
	font-size: 12px;
	color: #fdfafc;
}
