html {
	font-family: "Microsoft YaHei";
}
ul,li{
	list-style:none;
	padding:0px;
	margin:0px;
}
div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.tc {
	text-align: center;
}
.tl {
	text-align: left;
}
.tr {
	text-align: right;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.overfh {
    overflow: hidden;	
}
.pointer {
	cursor:pointer;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.w980 {
	width: 980px;
	margin: 0 auto;
}
.bg-1 {
	min-width: 980px;
    height: 2521px;
    background: url(../img/bg.jpg) bottom center no-repeat;
    overflow: hidden;
}
.content-1 {
	margin-top: 500px;
	padding-top: 170px;
}
.content-1 .text {
	width: 800px;
	color: #83346b;
	font-size: 26px;
	font-weight: 600;
	font-family: "FZLTCHK";
}
.content-2 {
    padding: 197px 158px 0 137px;
}
.ranking {
	height: 1094px;
}
.rankingTop {
	height: 50px;
	padding: 17px 60px 0 55px;
}
.rankingTop .fl>div {
	width: 50px;
	height: 25px;
	line-height: 25px;
	background: #fd84d6;
	float: left;
	z-index: 1;
	position: relative;
	border-radius: 4px;
	color: #fff;
}
.rankingTop .fl>div.active {
	background: #fa1ab3;
	z-index: 2;
}
.rankingTop .fl>.new {
	margin-left: -10px;
}
.rankingTop .ckjl {
	position: relative;
	width: 90px;
	height: 20px;
	line-height: 20px;
	color: #5c5b5b;
	background: #fff90f;
	border-radius: 12px;
	-moz-box-shadow: 0px 3px 0px 0px #b0ac09;
	-webkit-box-shadow: 0px 3px 0px 0px #b0ac09;
	box-shadow: 0px 3px 0px 0px #b0ac09;
}
.rankingTop .ckjl:hover{
	top: 1px;
	-moz-box-shadow: 0px 2px 0px 0px #b0ac09;
	-webkit-box-shadow: 0px 2px 0px 0px #b0ac09;
	box-shadow: 0px 2px 0px 0px #b0ac09;
}
.rankContent {
	padding: 0 23px;
}
.rankingTit {
	height: 53px;
}
.rankingTit .tit {
	float: left;
	width: 25%;
}
.rankingList li {
	height: 40px;
	overflow: hidden;
	border-bottom: 1px dashed #f3e6ed;
}
.rankingList li>div {
	float: left;
	height: 40px;
	line-height: 40px;
	width: 25%;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.rankingList .win {
	position: relative;
}
.rankingList .win:after {
	content: "";
	display: block;
	position: absolute;
	width: 39px;
	height: 30px;
	top: 6px;
    left: 57px;
}
.rankingList .win:nth-child(1):after{
	background: url(../img/win1.png);
}
.rankingList .win:nth-child(2):after{
	background: url(../img/win2.png);
}
.rankingList .win:nth-child(3):after{
	background: url(../img/win3.png);
}
.rankingList li .member {
	position: relative;
}
.rankingList li .member .hover {
	display: none;
	position: absolute;
	top: 11px;
	left: 34px;
	width: 90px;
	height: 20px;
	overflow: hidden;
	padding-left: 10px;
}
.rankingList li .hover >a {
	display: block;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 50px;
	margin-left: -10px;
	position: relative;
    background: #fd84d6;
    color: #fff;
    z-index: 1;
}
.rankingList li .hover >a.active {
	background: #fa1ab3;
    z-index: 2;
}
.page {
	margin-top: 60px;
	width: 160px;
}
.page>div {
	width: 60px;
	height: 25px;
	line-height: 25px;
	position: relative;
	margin: 0 10px;
}
.page>div:active {
	top: 1px;
}
