html {
	font-family: "Microsoft YaHei";
}
ul,li{
	list-style:none;
	padding:0px;
	margin:0px;
}
.text-center {
	text-align: center;
}
.text-l {
	text-align: left;
}
.text-r {
	text-align: right;
}
.color-fff {
	color: #f4f2f2;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.money {
	color: rgb(230,0,18) !important;
}
.color-purple {
	color: #E4007F;
}
.color-red {
	color: #E60012;
}
.color-blue {
	color: #00A0E9;
}
.color-green {
	color: #13AE67;
}
.act {
	min-width: 980px;
	max-width: 1920px;
	margin: 0 auto;
	/*margin-top: 50px;*/
}
.overflow-hidden {
    overflow: hidden;	
}
.pointer {
	cursor:pointer;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.w980 {
	width: 980px;
	margin: 0 auto;
}
/*bg-1*/
.bg-1 {
	height: 1620px;
    background:#FEF8E0;
    overflow: hidden;
    position: relative;
}
.bg-1>.sea,.bg-1>.sea1,.bg-1>.sea2,.bg-1>.beach {
	height: 1186px;
	width: 100%;
	position: absolute;
	top: 0;
}
.sea {
    background: url(../img/sea.png) bottom center no-repeat;
}
.seaanimation {
	animation:myfirst 4s infinite ease-in-out;
	-moz-animation:myfirst 4s infinite ease-in-out;
	/* Firefox */
	
	-webkit-animation:myfirst 4s infinite ease-in-out;
	/* Safari and Chrome */
	
	-o-animation:myfirst 4s infinite ease-in-out;
	/* Opera */
}
@keyframes myfirst
{
0% {top:-100px;}
50% {top:-60px;}
100% {top:-100px;}
}

@-moz-keyframes myfirst /* Firefox */
{
	0%   {left:0px; top:0px;}
	25%  {left:15px; top:0px;}
	50%  {left:15px; top:15px;}
	75%  {left:0px; top:15px;}
	100% {left:0px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
	0%   {left:0px; top:0px;}
	25%  {left:15px; top:0px;}
	50%  {left:15px; top:15px;}
	75%  {left:0px; top:15px;}
	100% {left:0px; top:0px;}
}

@-o-keyframes myfirst /* Opera */
{
	0%   {left:0px; top:0px;}
	25%  {left:15px; top:0px;}
	50%  {left:15px; top:15px;}
	75%  {left:0px; top:15px;}
	100% {left:0px; top:0px;}
}
.bg-1>.sea1 {
	height: 1286px;
	top: -100px;
    background: url(../img/sea1.png) center -245px no-repeat;
}
.sea2 {
    background: url(../img/sea2.png) center -565px no-repeat;
}
.bg-1>.beach {
	height: 1620px;
    background: url(../img/bg_1.png) bottom center no-repeat;
}
/*bg-2*/
.bg-2 {
	height: 777px;
	background:#FEF8E0 url(../img/bg_down.jpg) bottom center no-repeat;
}
/*contentTop*/
.contentTop {
	position: relative;
	padding: 160px 0 0 0;
	height: 680px;
}
.contentTop .shadow {
	position: absolute;
	top: 160px;
	left: -60px;
}
.contentTop .title {
	position: absolute;
	top: 205px;
	left: -438px;
}
/*tab*/
.contentTop .tab1{
	display: block;
}
.contentTop .tab2{
	display: none;
}
.fishpond {
	position: relative;
	background: url(../img/tit2.png);
	width: 918px;
	height: 578px;
}
.welter {
	height: 40px;
	line-height: 40px;
	width: 802px;
	background: rgba(23,18,15,0.3);
	position: absolute;
	top: 85px;
	left: 55px;
	border-radius: 8px;
	padding: 0 30px;
	overflow: hidden;
	font-family:Arial;
	font-size: 16px;
	color: #fff;
	overflow: hidden;
}
.welter>div {
	height: 100%;
	overflow: hidden;
}
.question1 ,.question2 {
	position: absolute;
	overflow: hidden;
	width: 18px;
	height: 31px;
}
.question1 {
	top: 35px;
	left: 135px;
}
.question2 {
	top: 395px;
	left: 735px;
}
.question1>img,.question2>img{
	position: absolute;
	top: 31px;
}
.welter>div>ul{
	/*position: absolute;*/
	height: 40px;
	margin-left: 0;
}
.welter li {
	padding-right: 50px;
}
.welter .user {
	padding: 0 5px;
	color: rgb(255,241,0);
}
.welter .qubi {
	padding: 0 5px;
	color: rgb(230,0,18);
	font-weight: bold;
}
/*fishpond-content*/
.fishpond .content {
	margin: 210px auto 0 auto;
	width: 480px;
	height: 90px;
	background: rgb(255,248,224);
	border-radius: 30px;
	box-shadow:  8px 8px 0px 0px rgba(23, 18, 15,0.3);
	padding: 20px 40px 10px 25px;
	display: none;
}
.fishpond .picture {
	width: 90px;
	height: 90px;
	background-image: url(../img/fish.png);
	background-size: 270px 270px;
	background-repeat: no-repeat;
}
.fishpond .animal2 {
	background-position: -90px 0px;
}
.fishpond .animal3 {
	background-position: -180px 0px;
}
.fishpond .animal4 {
	background-position: -90px -90px;
}
.fishpond .animal5 {
	background-position: -180px -90px;
}
.fishpond .animal6 {
	background-position: 0px -90px;
}
.fishpond .animal7 {
	background-position: 0px -180px;
}
.fishpond .animal8 {
	background-position: -90px -180px;
}
.fishpond .animal9 {
	background-position: -180px -180px;
}
.fishpond .text {
	width: 370px;
	height: 80px;
	padding: 10px 0 0 20px;
	font-family: Arial;
	font-size: 22px;
	font-weight: 600;
}
.fishpond .text .figure {
	font-size: 18px;
	color: #A0A0A0;
}
.fishpond .text .kudo {
	padding: 0 6px;
}
.fishpond .text .lines {
	font-size: 20px;
	color: #231815;
}
.fishpond .text .lines:before, .fishpond .text .lines:after{
	content: "\"";
}
/*contentUser*/
.contentUser {
    position: relative;
    height: 310px;
}
.contentUser .reward {
	position: absolute;
	top: 140px;
	left: -55px;
}
.contentUser .user {
	height: 270px;
	width: 355px;
	margin-right: 40px;
	box-shadow: rgb(189, 180, 163) 4px 4px 0px;
	border-radius: 30px;
	background: rgb(255,248,224);
	padding: 20px 28px 0 28px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.userContent {
	height: 160px;
}
.userContent .fl {
	position: relative;
}
.userContent .fl .pleaseLogin {
	background: rgb(255,248,224);
	position: absolute;
	height: 130px;
    width: 195px;
}
.userContent .fl .pleaseLogin .button{
	display: block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
	font-weight: normal;
	box-shadow: none;
	margin: 20px auto;
}
.userContent .fl .pleaseLogin .button:active {
	top: 1px;
}
.userContent .portrait {
	width: 85px;
	height: 85px;
	border-radius: 100%;
}
.userContent>div:last-child {
	width: 189px;
	margin-left: 25px;
}
/*user*/
#nickname {
	font-family: Arial;
	font-size: 28px;
	font-weight: 900;
	color: #231815;
	/*text-shadow: #2d2b2b 1px 1px 1px;*/
	margin-top: 15px;
}
#ID {
	font-size: 18px;
	color: rgb(159,160,160);
}
#ID:before {
	content: "ID: ";
}
.overnum {
	font-family:Arial;
	font-size: 24px;
	font-weight: 500;
	color: rgb(159,160,160);
	margin-top: 15px;

}
#overnum {
	display: block;
	text-align: right;
	color: red;
	font-weight: 600;
	width: 62px;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/*button*/
.button {
	-moz-box-shadow: 4px 4px 0px 0px #BDB4A3;
	-webkit-box-shadow: 4px 4px 0px 0px #BDB4A3;
	box-shadow: 4px 4px 0px 0px #BDB4A3;
	background-color:#E60012;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:10px;
	display:inline-block;
	height: 58px;
	width: 300px;
	text-align: center;
	line-height: 58px;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	text-decoration:none;
}
.button:active {
	position:relative;
	box-shadow: 2px 2px 0px 0px #BDB4A3;
	top:2px;
}
.noclick {
	background: #ccc;
	cursor: not-allowed;
}
.noclick:active {
	position: static;
	box-shadow: 4px 4px 0px 0px #BDB4A3;
}

/*prizes*/
.prizes{
    position: relative;
	height: 450px;
}
.prizes>div {
	overflow: hidden;
	height: 200px;
	margin-bottom: 50px;
}
.warp1 {
	padding: 0 15px;
}
.warp2 {
	padding: 0 110px;
}
.prize {
	float: left;
	width: 190px;
	height: 150px;
}
.prize>div{
	margin: 0 auto;
	width: 150px;
	height: 100%;
	background-image: url(../img/prize.png);
}
.prize>div>div {
	height: 100%;
	background-image: url(../img/fish.png);
	background-color: #EEDCAB;
	border-radius: 22px;
	box-shadow: 4px 4px 0px 0px #5B270F;
}
.prize>div>div:hover {
	position: relative;
	top: 2px;
	box-shadow: 2px 2px 0px 0px #5B270F;
}
.prize2>div {
	background-position: -150px 0px;
}
.prize3>div{
	background-position: -300px 0px;
}
.prize4>div {
	background-position: -150px -150px;
}
.prize5>div {
	background-position: -300px -150px;
}
.prize6>div {
	background-position: 0px -150px;
}
.prize7>div {
	background-position: 0px -300px;
}
.prize8>div {
	background-position: -150px -300px;
}
.prize9>div {
	background-position: -300px -300px;
}
.prize>div>p {
	text-align: center;
	font-family:Arial;
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
}
/*文字内容*/
.text {
	padding: 70px 0 0 65px;
	font-size: 22px;
	font-weight: 500;
	/*font-family: "Microsoft YaHei";*/
	color: #AA9D87;
}
.text>div:first-child {
	margin-bottom: 45px;
}
.text .title {
	margin: 0;
	width: 128px;
	padding-bottom: 6px;
	border-bottom: 4px solid #E8DABF;
	margin-bottom: 25px;
	font-family: arial;
	font-weight: 600;
	font-size: 32px;
	color: #8E816F;
}
.text p>img {
	width: 16px;
	margin: 1px 5px;
}
/*footer*/
.footer {
	margin-top: 90px;
	text-align: center;
	font-size: 18px;
	font-family:Arial;
	color: #000;
	font-weight: 600;
}