@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin: 0; padding: 0; border: none; }
body { font-size: 12px; font-family: simsun, arial, helvetica, clean, sans-serif; background: #fff; color: #2b2b2b; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
select, input, img { vertical-align: middle; }
table { border-collapse: collapse; border-spacing: 0; }
table, td, tr, th { font-size: 12px; }
input:focus { outline: 0 none; }
a:focus { outline: medium none; }
a { text-decoration: none; cursor: pointer; }
a:link { color:#333}
a:visited {color:#333 }
a:hover { text-decoration: underline; color:#898989 }
fieldset, img { border: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; font-weight: normal; }
q:before, q:after { content: ''; }
.clear { clear: both; height: 0; line-height: 0; font-size: 0; overflow: hidden; }
.blank10 { clear: both; font-size: 0px; line-height: 0px; height: 10px; margin: 0px; padding: 0px; }
.fb { font-weight: bold; }
.f12 { font-size: 12px; }
.f14 { font-size: 14px; }
.left { float: left; }
.right { float: right; }
.bold { font-weight: bold }
.noborder_l { border-left: 0px; }
.noborder_r { border-right: 0px; }
.f_gray { color: #999; }
.f_red { color: #F00; }
.f_green { color: #008040; }
a.gray:link, a.gray:visited { color: #999; }
a.green:hover { color: #999; }
a.green:link, a.green:visited { color: #008040; }
a.green:hover { color: #999; }
a.blue:link, a.blue:visited { color: #005BAB; }
a.blue:hover { color: #999; }
a.red:link, a.red:visited { color: #F00 }
a.red:hover { color: #999; }
a.yellow:link, a.yellow:visited { color: #FF5A00 }
a.red:hover { color: #999; }
.hidden { display: none; }
