.clear {
    clear: both;
    width: 1000px;
}
.btn-3 {
    width: 70px;
    height: 23px;
    line-height: 23px;
    background-position: -114px -300px;
}
.btn-2, .btn-9 {
    width: 65px;
    height: 22px;
    line-height: 22px;
    background-position: 0px -76px;
}
.btn-1 {
    width: 46px;
    height: 22px;
    line-height: 22px;
    background-position: -70px -76px;
}

.btn_jinruyx {
    display: inline-block;
    line-height: 150px;
    text-align: center;
    vertical-align: middle;
    font-size: 0px;
    overflow: hidden;
    background: url(http://img.res.zhaoyun.com/Public/www/images/sprite_btns.png) no-repeat;
}
.btn_jinruyx {
    width: 55px;
    height: 19px;
    background-position: 0px -144px;
}
.btn_jinruyx:hover {
    background-position: 0px -163px;
}
.btn {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    overflow: hidden;
    background-image: url(http://img.res.zhaoyun.com/Public/www/images/btn-24.png?t=20140111);
    background-repeat: no-repeat;
}

/*顶部开始*/
#top {
    width: 100%;
    position: relative;
    z-index: 999;
}
#top-1 {
	height: 34px;
    background: url(../img/index-top/topbg.png) repeat-x;
}

#top-1>div {
	line-height: 35px;
    height: 35px;
    width: 991px;
    position: relative;
    margin: 0px auto;
}
#top-1 .fl li.pl {
	width: 2px;
    height: 12px;
    overflow: hidden;
    background: url(../img/index-top/toppl.png) no-repeat;
    margin: 12px 0px 0px;
    padding: 0px;
}
#top-1 .fl li {
	padding-left: 24px;
    float: left;
    display: inline;
    margin-right: 10px;
}
#top-l ul .desk {
    background: url(../img/index-top/ico-24.png) no-repeat 0px -1036px;
}
#top-l ul .login {
    background: url(../img/index-top/ico-24.png) no-repeat 0px -1097px;
}
#top-1 .fr a {
	float: left;
    color: #454545;
    text-shadow: 0px 1px 0px #fff;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    display: inline;
    margin: 9px 10px 0px 10px;
}
#top-1 .pl {
    float: left;
    display: block;
    height: 12px;
    overflow: hidden;
    width: 2px;
    background: url(http://img.res.zhaoyun.com/Public/www/images/topPl.png) no-repeat;
    margin: 13px 0px 0px 0px;
}
#banner{
    width: 987px;
    height: 90px;
    margin: 0px auto;
    position: relative;
}
#banner .d1 {
    width: 335px;
    height: 90px;
}
#banner .d2 {
	width: 652px;
    height: 90px;
    position: relative;
}
.ms_sinput {
    position: absolute;
    top: 50px;
    left: 370px;
    background: url(http://img.res.zhaoyun.com/Public/www/images/new_ss_bg.jpg) no-repeat left top;
    width: 280px;
    height: 33px;
}
.pad_ss {
    padding: 7px;
}
.pad_ss input {
    width: 222px;
    height: 18px;
    border: none;
    outline: none;
    color: #666;
}
#ss_go {
    display: block;
    width: 30px;
    height: 18px;
    float: right;
}

/*nav*/
#navbox {
    width: 100%;
    background: rgb(23,145,240);
    height: 40px;
}
#nav {
	width: 990px;
    height: 40px;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
}
#nav ul {
    margin-left: -2px;
    width: 1100px;
    overflow: hidden;
}
#nav li {
    float: left;
    overflow: hidden;
}
#nav li a {
    height: 47px;
    display: block;
    color: rgb(255, 255, 255);
    float: left;
    position: relative;
    margin-top: -5px;
    font: bold 16px/47px 微软雅黑, 宋体;
    text-decoration: none;
}
#nav li.on a, #nav li a:hover {
    color: rgb(23, 145, 240);
    background: url(../img/index-top/nav.gif) -8px 5px no-repeat;
}
#nav li a strong {
    display: block;
    height: 28px;
    width: 109px;
    padding-top: 15px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
/*top结束*/


/**/
#wrap {
    position: relative;
    z-index: 1;
    margin: -4px auto 0px;
    overflow: hidden;
}

#container {
    width: 987px;
    margin: 0px auto;
    padding: 10px 10px 0px;
    background: rgb(255, 255, 255);
    border-left: 1px solid rgb(203, 203, 203);
    border-right: 1px solid rgb(203, 203, 203);
    overflow: hidden;
}
#content_1 {
    width: 965px;
    overflow: hidden;
    margin-bottom: 8px;
}
#login {
    width: 240px;
    height: 234px;
    float: left;
    margin-right: 8px;
    background: rgb(251,251,251);
    border: 1px solid rgb(223,223,223);
    border-radius: 5px;
}
#login_2 {
    width: 208px;
    height: 148px;
    position: relative;
    margin: 0px auto;
    padding: 20px 0px;
}
#login_2  div {
    width: 208px;
    height: 30px;
    overflow: hidden;
    background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -212px -240px;
    margin-top: 10px;
    position: relative;
}
#login_2 .do {
    height: 20px;
    color: #888;
    padding-left: 2px;
    line-height: 20px;
    margin-top: 8px;
    background: none;
}
#login_2 .do a {
    display: block;
    float: right;
    margin-right: 2px;
    color: #afafaf;
}
#login_2 .do input {
    float: left;
    margin-right: 3px;
    margin-top: 4px;
}
#login_2 .do span {
    display: block;
    float: left;
}
#user_name {
    background-position: 4px -1437px;
}
.log-text {
    width: 174px;
    padding: 5px 5px 5px 27px;
    color: #3c3c3c;
    font-family: "宋体";
}
.ico-img, .loged-game a {
    background: transparent url(http://img.res.zhaoyun.com/Public/www/images/ico-24.png) no-repeat;
}
#user_pwd {
    background-position: 4px -1469px;
}
.log-btn-login {
    cursor: pointer;
    display: inline-block;
    width: 210px;
    height: 36px;
    margin: 0px 10px 0px 16px;
    background: url(http://img.res.zhaoyun.com/Public/www/images/bg-login.jpg) 0px -84px no-repeat rgb(255, 255, 255);
}
#login_1 {
    color: rgb(113, 116, 125);
    line-height: 23px;
    margin: 15px 0px 0px 20px;
}

#banner_2 {
    width: 477px;
    height: 234px;
    float: left;
    margin-right: 8px;
    background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -240px 0;
    padding: 6px;
}
.slideBox {
    width: 465px;
    height: 222px;
    overflow: hidden;
    position: relative;
}
.slideBox .hd {
    height: 15px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}
.slideBox .hd ul {
    overflow: hidden;
    float: left;
}
.slideBox .hd ul li {
	float: left;
	margin-right: 5px;
	width: 18px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -930px -270px;
	overflow: hidden;
	display: inline;
	-webkit-text-size-adjust: none
}
.slideBox .hd ul li.on {
	background: #F60;
	color: #fff;
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -930px -253px
}
.slideBox .bd {
	position: relative;
	height: 100%;
	z-index: 0;
}
.slideBox .bd img {
	width: 465px;
	height: 222px;
}
#tabs0 {
    width: 232px;
    height: 234px;
    float: left;
    background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -717px 0;
}
#tabs0 .menu1 {
    width: 220px;
    margin: 10px auto 0 auto;
    border-bottom: 1px #c8c8c8 solid;
    height: 25px;
    position: relative;
    z-index: 10;
}
.menu0 {
    width: 220px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    bottom: -1px;
    z-index: 999;
}
.more {
    float: right;
    height: 9px;
    margin-right: 5px;
    margin-top: 10px;
    width: 36px;
}
.more a {
    display: block;
    height: 9px;
    text-indent: -999em;
    width: 36px;
    background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) -915px -319px no-repeat scroll transparent;
    overflow: hidden;
}
.menu0 li {
	display: block;
	float: left;
	height: 25px;line-height: 25px;
	margin: 0 5px;
	display: inline;
	width: 57px;
	text-align: center;
	cursor: pointer;
	color: #bcbcbc;
	font-weight: bold;
	font-size: 15px;
	font-family: "微软雅黑", "宋体"
}
.menu0 li.hover {
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat 0 -374px;
	font-weight: bold;
	height: 25px;
	font-size: 15px;
	line-height: 25px;
	color: #4c4c4c
}
.main {
    font-size: 12px;
    width: 220px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 6px;
    height: 192px;
}
#main0 ul.block {
    display: block;
    overflow: hidden;
}
#main0 ul {
    display: none;
}
.main li {
    height: 30px;
    line-height: 20px;
    width: 220px;
    overflow: hidden;
    padding: 5px 0 5px 13px;
    border-bottom: 1px #e3e3e3 dashed;
    float: left;
    background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -940px -285px;
}
/*#content_2*/
#content_2 {
    width: 965px;
    margin-bottom: 12px;
    overflow: hidden;
}
.NewServiceBigGroup {
    height: 508px;
    width: 240px;
    float: left;
}
.NewServiceGroup {
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: rgb(205, 205, 205) rgb(218, 218, 218) rgb(218, 218, 218);
    border-image: initial;
    border-top: 0px solid rgb(205, 205, 205);
}
.NewServiceGroup .hangbiaoBtn {
    width: 238px;
    overflow: hidden;
}
.habiaoBtn {
    width: 100%;
}
.NewServiceGroup .hangbiaoBtn {
    width: 238px;
    overflow: hidden;
}
.hangbiaoBtn {
	height: 35px;
	line-height: 35px;
    text-align: center;
    font-size: 14px;
    color: rgb(124, 124, 124);
    font-family: 微软雅黑, 宋体;
    font-weight: bold;
    text-decoration: none;
    background: url(http://img.res.zhaoyun.com/Public/www/images/sprite_icon_global.png) 0px -100px repeat-x;
}
.habiaoBtn li {
    float: left;
}
.habiaoBtn li a {
	width: 118px;
    float: left;
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    font-family: 微软雅黑, 宋体;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
}
.habiaoBtn li a.on {
    color: rgb(68, 68, 68);
    background: url(http://img.res.zhaoyun.com/Public/www/images/sprite_icon_global.png) 0px -950px repeat-x;
    border-top: 0px solid rgb(205, 205, 205);
}
.habiaoBtn li.naha_1 a {
    border-right: 1px solid rgb(218, 218, 218);
}

/*表格*/
.Xinfult_nrbiao {
    width: 100%;
    line-height: 32px;
    color: rgb(68, 68, 68);
}
.Xinfult_nrbiao th {
    font-weight: bold;
    line-height: 29px;
    color: rgb(170, 170, 170);
    text-align: center;
    padding: 0px 4px;
    border-bottom: 1px solid rgb(225, 225, 225);
    background: rgb(247, 247, 247);
}
.Xinfult_nrbiao .lie2 {
    border-left: 1px solid rgb(225, 225, 225);
    border-right: 1px solid rgb(225, 225, 225);
}
.Xinfult_nrbiao .ha_a {
    cursor: pointer;
    background: rgb(254, 255, 255);
}
.Xinfult_nrbiao td {
    text-align: center;
    padding: 0px 4px;
}
table td {
    height: 30px;
}
/*li*/
.xintui_box {
    position: relative;
    height: 73px;
    color: rgb(136, 136, 136);
    line-height: 18px;
    cursor: pointer;
    padding: 9px 0px 0px 12px;
    border-bottom: 1px dotted rgb(204, 204, 204);
}
.xintui_box .xintui_pic {
    position: absolute;
    left: 12px;
    top: 11px;
}
.xintui_box a {
    color: rgb(136, 136, 136);
}
.xintui_box .xintui_pic a img {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
}
.xintui_box .xintui_game,
.xintui_box .xintui_fushu,
.xintui_box .xintui_btns {
    padding: 0px 0px 0px 60px;
}
.xintui_box .xintui_game a {
    font-weight: bold;
    color: rgb(75, 75, 75);
}
.xintui_box .xintui_btns .btn_jinruyx {
    width: 55px;
    height: 19px;
    background-position: 0px -144px;
}
.xintui_box .xintui_time {
    position: absolute;
    right: 12px;
    top: 8px;
    font-weight: bold;
    margin: 0px;
}
.xintui_box .xintui_date {
    position: absolute;
    right: 12px;
    top: 26px;
}
#page {
    height: 25px;
    text-align: center;
    width: 238px;
}
#page .hover {
    background: #0f8ff2;
}
#page li {
    padding: 4px;
    font-size: 0;
    background: #b6b6b6;
    border-radius: 4px;
    margin: 10px 8px 0 7px;
    cursor: pointer;
    display: inline-block;
}
.main-l {
    float: right;
    width: 717px;
    height: auto;
}
/*推荐游戏*/
.modelTitle1, .modelTitle1 .modelTitle1Lt, .modelTitle1 .modelTitle1Rt, .modelTitle1 h2 b, .modelFt1, .modelFt1 .modelFt1Lt, .modelFt1 .modelFt1Rt, #mostPlay .mostPlayCont .mostPlayTab dt b, .modelItem .goGame a {
    background: url(http://img.res.zhaoyun.com/Public/www/images/modelBg.jpg) no-repeat;
}
.modelTitle1 {
    position: relative;
    height: 32px;
    font-size: 14px;
    background-position: 0px -28px;
    background-repeat: repeat-x;
    overflow: hidden;
}
.modelTitle1 .modelTitle1Lt {
    width: 6px;
    height: 28px;
    float: left;
    background-position: 0px 0px;
}
.modelTitle1 .modelTitle1Rt {
    width: 6px;
    height: 28px;
    float: right;
    background-position: -6px 0px;
}
.modelTitle1 h2 {
    font-size: 15px;
    color: rgb(54, 54, 54);
    position: relative;
    padding-left: 30px;
    height: 28px;
    line-height: 30px;
}
.modelTitle1 h2 b {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 14px;
    height: 14px;
    margin-top: 2px;
    background-position: -12px 0px;
    overflow: hidden;
}
#Dahang {
    border-left: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
    border-top: 1px solid rgb(224, 224, 224);
    overflow: hidden;
    padding: 0px;
}
.rec-game {
	width: 231px;
    overflow: hidden;
    height: 220px;
    margin: 9px 0 0 4px;
    float: left;
    display: inline;
    padding: 1px;
    background: #fff url(../images/home/bg-rec-game.png) no-repeat; 
}
.rec-g-img {
    height: 179px;
    position: relative;
    width: 229px;
    overflow: hidden;
}
.rec-game-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 170px;
    width: 229px;
    background: transparent url(../images/home/bg-recgame-cover.png) no-repeat;
}
.r-g-bl {
    height: 170px;
    position: relative;
    z-index: 10;
}
.r-g-bl-a {
    height: 170px;
    display: block;
    z-index: 10;
}
.rec-info {
    background-position: 0 -90px;
    width: 209px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 170px;
    text-align: left;
    color: #fff;
    padding: 0 10px;
    z-index: 100;
}
.home-bg {
    background: url(../images/home.png?t=20131231) no-repeat 0 0;
}
.rec-info a {
    color: #FFEE2B;
    float: right;
}
.rec-g-tit a {
    font-weight: 400;
}
.rec-g-tit .btn-1 {
    margin-right: 11px;
    color: #0A5681;
}
.rec-g-tit {
    height: 22px;
    color: #E36C00;
    font-size: 16px;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
}
.modelFt1 .modelFt1Lt {
    width: 6px;
    height: 6px;
    float: left;
    overflow: hidden;
    background-position: -12px -14px;
}
.modelFt1 {
    position: relative;
    height: 6px;

    background-position: 0px -56px;
    background-repeat: repeat-x;
    overflow: hidden;
}
.modelFt1 .modelFt1Rt {
    width: 6px;
    height: 6px;
    float: right;
    overflow: hidden;
    background-position: -18px -14px;
}

/**/
#content_3_left {
    width: 240px;
    float: left;
    margin-right: 8px;
    overflow: hidden;
}
#tdao {
    width: 240px;
    margin-bottom: 8px;
    float: left;
}
#tao_1 {
    width: 240px;
    height: 32px;
    border-bottom: 0;
    font-size: 15px;
    color: #333;
    line-height: 30px;
    background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat 0 -314px;
    padding-left: 9px;
}
#tao_1 p {
    float: left;
    height: 20px;
    display: inline;
    overflow: hidden;
    margin-top: 7px;
    font: 15px microsoft yahei;
}
#tao_2 {
    width: 235px;
    height: 90px;
    float: left;
    padding: 10px 0 0 5px;
    border-top: 0;
}
#tao_2 .mfzeBtn {
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat 0 -619px;
	margin: 0 10px 0px 0;
}
#tao_2 .mfzeBtn:hover {
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -237px -619px;
}
#tao_2 .yxczBtn {
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -119px -619px;
}
#tao_2 .yxczBtn:hover {
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -356px -619px;
}
#tao_2 .zhmmBtn {
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat 0 -657px;
	margin: 10px 10px 0px 0;
}
#tao_2 .zhmmBtn:hover {
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -237px -657px;
}
/*#tao_2 .zhssBtn {
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -119px -657px
}
#tao_2 .zhssBtn:hover {
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -356px -657px
}*/
/*#tao_2 .jzjhBtn {
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat 0 -695px
}
#tao_2 .jzjhBtn:hover {
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -237px -695px
}*/
#tao_2 .fcmxtBtn {
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -119px -695px;
	margin: 10px 0 0 0;
}
#tao_2 .fcmxtBtn:hover {
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -356px -695px;
}
#tao_2>div {
	display: block;
	float: left;
}
#tao_2 a {
    display: block;
    width: 110px;
    height: 30px;
    overflow: hidden;
}

#ph {
  width: 238px;
  float: left;
  border: 1px solid #d0d0d0;
  margin-bottom: 8px;
}
#Phone {
  margin-bottom: 8px;
}
.reutit {
  height: 37px;
  padding: 0 17px;
  background: url(http://img.res.zhaoyun.com/Public/www/css1/img/tit_repeat.jpg) repeat-x left center;
}
.borb {
  border-bottom: 1px solid #d0d0d0;
}
.reucon {
  background: #ffffff;
}
.reutit_icon {
  padding-left: 35px;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  font-family: 'Microsoft YaHei';
  line-height: 37px;
  float: left;
}
.icon_rmph {
  background: url(http://img.res.zhaoyun.com/Public/www/css1/img/tit_icon_21.png) no-repeat left center;
}
.lk_tit {
  padding-left: 4px;
}
.hottop li .ht_num {
  width: 30px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  background: url(http://img.res.zhaoyun.com/Public/www/css1/img/hotg_a.png) no-repeat center center;
}
.hottop li .ht_name {
  width: 85px;
}
.hottop li .ht_type {
  width: 60px;
}
.hottop li .ht_ser {
  width: 57px;
}
.hottop li span {
  display: block;
  float: left;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.hottop li {
  border-bottom: 1px dotted #d0d0d0;
  height: 35px;
}
.hottop .lk_tit span {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background: none;
}
.hottop li .ht_num.hot1 {
  background: url(http://img.res.zhaoyun.com/Public/www/css1/img/hotg_1.png) no-repeat center center;
}
.hottop li .ht_num.hot2 {
  background: url(http://img.res.zhaoyun.com/Public/www/css1/img/hotg_2.png) no-repeat center center;
}
.hottop li .ht_num.hot3 {
  background: url(http://img.res.zhaoyun.com/Public/www/css1/img/hotg_3.png) no-repeat center center;
}
#Phone {
	width: 240px;
	float: left;
	padding-left: 5px
}
#Phone img {
	padding: 1px;
	border: 1px solid #cbccce
}
.game_zg_box {
    width: 240px;
    float: left;
    padding-left: 5px;
    color: #727272;
}
.game_zg_top {
    height: 40px;
    width: 230px;
    border-bottom: 1px solid #bbb;
}
.game_zg_top h3 {
    font-size: 20px;
    line-height: 40px;
}
.game_zg_title {
    text-align: center;
    margin-top: 10px;
}
.game_zg_title li {
    float: left;
    width: 110px;
    line-height: 30px;
    font-size: 14px;
}

#content_3 {
    width: 965px;
    margin-bottom: 12px;
    overflow: hidden;
}
/*#content_3_right*/
#content_3_right {
    width: 717px;
    float: left;
    overflow: hidden;
}
#Daquan {
    width: 717px;
    margin-bottom: 8px;
    overflow: hidden;
}

.modelFt1 .modelFt1Lt {
	width: 6px;
	height: 6px;
	float: left;
	overflow: hidden;
	background-position: -12px -14px;
}
#friendsLink .friendsLinkCont {
	padding: 9px 10px 5px;
	color: #959595;
	border-left: 1px #e0e0e0 solid;
	border-right: 1px #e0e0e0 solid;
	border-top: 1px #e0e0e0 solid;
	overflow: hidden;
	font: 12px/24px Verdana, SimSun;
}
.modelFt1 .modelFt1Lt {
	width: 6px;
	height: 6px;
	float: left;
	overflow: hidden;
	background-position: -12px -14px;
}
.modelFt1 .modelFt1Rt {
	width: 6px;
	height: 6px;
	float: right;
	overflow: hidden;
	background-position: -18px -14px;
}

.lb {
    width: 225px;
    height: 210px;
    float: left;
    margin-right: 12px;
    display: inline;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
}
.lb_1 {
    width: 220px;
    height: 174px;
}
.lb_1 .d1 {
    width: 225px;
    height: 150px;
    padding: 5px 0 0 5px;
}
.lb_1 .d2 {
    width: 220px;
    height: 18px;
    overflow: hidden;
}
.lb_1 .d2 span {
    width: 134px;
    height: 18px;
    line-height: 18px;
    float: left;
    margin: 0 5px 0 8px;
    display: inline;
    padding-left: 11px;
    background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -947px -986px;
    overflow: hidden;
}
.lb_1 .d2 a {
    width: 61px;
    height: 18px;
    display: block;
    float: left;
    text-align: center;
    line-height: 18px;
    background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat 0px -519px;
    color: #36c;
    float: right;
}
.lb_2 {
    width: 220px;
}
.lb_2>div>div {
    width: 220px;
    height: 26px;
    padding-top: 4px;
    line-height: 18px;
    padding-left: 8px;
}
.lb_2>div>div a {
	width: 60px;
	height: 18px;
	color: #fff;
	float: left;
	display: block;
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -42px -291px;
	text-indent: -999em;
}

.lb_2>div>div .Btn1 {
	float: left;
	width: 84px;
	height: 20px;
	overflow: hidden;
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat 0px -539px;
}

.lb_2>div>div .Btn1:hover {
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat 0px -561px;
}

.lb_2>div>div .Btn2 {
	float: right;
	width: 84px;
	height: 20px;
	overflow: hidden;
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -86px -539px;
}

.lb_2>div>div .Btn2:hover {
	background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -86px -561px;
}

/*content_4*/
#content_4 {
    width: 965px;
    overflow: hidden;
}
.youlianshenqing {
    float: right;
    height: 20px;
    display: inline;
    overflow: hidden;
    margin-top: 9px;
    font: 12px "微软雅黑";
    font-weight: normal;
}
/*底部开始*/
#footer {
    width: 940px;
    text-align: center;
    padding-top: 10px;
    margin: 20px auto 10px;
    border-top: 1px solid rgb(229, 229, 229);
}
#footer span {
	display: block;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	color: #ccc;
	font-size: 12px
}
#footer span a:hover {
	color: #d70000
}
#footer span font {
	margin: 0 10px
}
#footer i {
	color: #727272;
	font-style: normal;
	line-height: 20px;
	display: block;
	margin-top: 8px;
	font-size: 12px
}
#footer i a {
	font-weight: bold;
	color: #717171
}
/*底部end*/