.btn-3 {
    width: 70px;
    height: 23px;
    line-height: 23px;
    background-position: -114px -300px;
}
.btn {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    overflow: hidden;
    background-image: url(http://img.res.zhaoyun.com/Public/www/images/btn-24.png?t=20140111);
    background-repeat: no-repeat;
}

/*顶部开始*/
#top {
    width: 100%;
    position: relative;
    z-index: 999;
}
#top-1 {
	height: 34px;
    zoom: 1;
    background: url(../img/index-top/topbg.png) repeat-x;
}

#top-1>div {
	line-height: 35px;
    height: 35px;
    width: 991px;
    position: relative;
    margin: 0px auto;
}
#top-1 .fl li.pl {
	width: 2px;
    height: 12px;
    overflow: hidden;
    background: url(../img/index-top/toppl.png) no-repeat;
    margin: 12px 0px 0px;
    padding: 0px;
}
#top-1 .fl li {
	padding-left: 24px;
    float: left;
    display: inline;
    margin-right: 10px;
}
#top-l ul .desk {
    background: url(../img/index-top/ico-24.png) no-repeat 0px -1036px;
}
#top-l ul .login {
    background: url(../img/index-top/ico-24.png) no-repeat 0px -1097px;
}
#top-1 .fr a {
	float: left;
    color: #454545;
    text-shadow: 0px 1px 0px #fff;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    display: inline;
    margin: 9px 10px 0px 10px;
}
#top-1 .pl {
    float: left;
    display: block;
    height: 12px;
    overflow: hidden;
    width: 2px;
    zoom: 1;
    background: url(http://img.res.zhaoyun.com/Public/www/images/topPl.png) no-repeat;
    margin: 13px 0px 0px 0px;
}
#banner{
    width: 987px;
    height: 90px;
    margin: 0px auto;
    position: relative;
}
#banner .d1 {
    width: 335px;
    height: 90px;
}
#banner .d2 {
	width: 652px;
    height: 90px;
    position: relative;
}
.ms_sinput {
    position: absolute;
    top: 50px;
    left: 370px;
    background: url(http://img.res.zhaoyun.com/Public/www/images/new_ss_bg.jpg) no-repeat left top;
    width: 280px;
    height: 33px;
}
.pad_ss {
    padding: 7px;
}
.pad_ss input {
    width: 222px;
    height: 18px;
    border: none;
    outline: none;
    color: #666;
}
#ss_go {
    display: block;
    width: 30px;
    height: 18px;
    float: right;
}

/*nav*/
#navbox {
    width: 100%;
    background: rgb(23,145,240);
    height: 40px;
}
#nav {
	width: 990px;
    height: 40px;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
}
#nav ul {
    margin-left: -2px;
    width: 1100px;
    overflow: hidden;
}
#nav li {
    float: left;
    overflow: hidden;
}
#nav li a {
    height: 47px;
    display: block;
    color: rgb(255, 255, 255);
    float: left;
    position: relative;
    margin-top: -5px;
    font: bold 16px/47px 微软雅黑, 宋体;
    text-decoration: none;
}
#nav li.on a, #nav li a:hover {
    color: rgb(23, 145, 240);
    background: url(../img/index-top/nav.gif) -8px 5px no-repeat;
}
#nav li a strong {
    display: block;
    height: 28px;
    width: 109px;
    padding-top: 15px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
/*top结束*/


/**/
#wrap {
    zoom: 1;
    position: relative;
    z-index: 1;
    margin: -4px auto 0px;
    overflow: hidden;
}

#container {
    width: 965px;
    margin: 0px auto;
    padding: 10px 10px 0px;
    background: rgb(255, 255, 255);
    border-left: 1px solid rgb(203, 203, 203);
    border-right: 1px solid rgb(203, 203, 203);
    overflow: hidden;
}
#content_1 {
    width: 965px;
    overflow: hidden;
    zoom: 1;
    margin-bottom: 8px;
}
#login {
    width: 240px;
    height: 234px;
    float: left;
    margin-right: 8px;
    background: rgb(251,251,251);
    border: 1px solid rgb(223,223,223);
    border-radius: 5px;
}
#login_2 {
    width: 208px;
    height: 148px;
    position: relative;
    margin: 0px auto;
    padding: 20px 0px;
}
#login_2  div {
    width: 208px;
    height: 30px;
    overflow: hidden;
    background: url(http://img.res.zhaoyun.com/Public/www/images/602indexImg.png) no-repeat -212px -240px;
    margin-top: 10px;
    position: relative;
}
#login_2 .do {
    height: 20px;
    color: #888;
    padding-left: 2px;
    line-height: 20px;
    margin-top: 8px;
    background: none;
}
#login_2 .do a {
    display: block;
    float: right;
    margin-right: 2px;
    color: #afafaf;
}
#login_2 .do input {
    float: left;
    margin-right: 3px;
    margin-top: 4px;
}
#login_2 .do span {
    display: block;
    float: left;
}
#user_name {
    background-position: 4px -1437px;
}
.log-text {
    width: 174px;
    padding: 5px 5px 5px 27px;
    color: #3c3c3c;
    font-family: "宋体";
}
.ico-img, .loged-game a {
    background: transparent url(http://img.res.zhaoyun.com/Public/www/images/ico-24.png) no-repeat;
}
#user_pwd {
    background-position: 4px -1469px;
}
.log-btn-login {
    cursor: pointer;
    display: inline-block;
    width: 210px;
    height: 36px;
    margin: 0px 10px 0px 16px;
    background: url(http://img.res.zhaoyun.com/Public/www/images/bg-login.jpg) 0px -84px no-repeat rgb(255, 255, 255);
}
#login_1 {
    color: rgb(113, 116, 125);
    line-height: 23px;
    margin: 15px 0px 0px 20px;
}

