html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
    font-size: 12px;
    font-family: "microsoft yahei";
}
input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
body div,
body li {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
ul,li{
    list-style:none;
}
img{
	/*display:block;*/
	vertical-align: middle;
	border:0
}
a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none; 
	color:#333; 
}
input, select {
    vertical-align:middle;
}
:focus {
	outline: 1;
}

.tc {
	text-align: center;
}
.tl {
	text-align: left;
}
.tr {
	text-align: right;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.pointer {
	cursor:pointer;
	-webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
}
.overh {
    overflow: hidden;	
}
.color-fff {
	color: #fff;
}
.color-ff6d84 {
	color: #ff6d84;
}
.color-999 {
	color: #999999;
}
.color-fb042a {
	color: #fb042a;
}
.color-666 {
	color: #666666;
}
.color-blue {
	color: #00A0E9;
}
.color-red {
	color: #fb1d40;
}
.color-green {
	color: #13AE67;
}

.bg-000 {
	background: #000;
}
.bg-fff {
	background: #fff;
}


.w1200 {
	width: 1200px;
	margin: 0 auto;
}